a {
  text-decoration: none;
  color: black;
}

.link {
  display: inline-block;
  width: 100px;
  border: 1px solid rgb(93, 195, 243);
  border-radius: 5px;
  color: rgb(80, 106, 255);
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 25px;
}

nav > .link:hover {
  box-shadow: 0px 0px 20px rgb(182, 225, 236);
}

a:hover {
  text-shadow: 0px 0px 20px rgb(121, 80, 255);
}

.header-1 {
  text-align: center;
  text-decoration: dashed;
  color: rgb(0, 17, 255);
}
  